In [1]:
import os
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = [18.0, 10.0]

In [2]:
# Set working directory
os.chdir(r"C:\Users\valen\Desktop\S\Procurement\SECOPII")

---

## SECOP II Contratos Electrónicos

In [3]:
secop_II_ContratosE = pd.read_csv("SECOP_II_Contratos_Electronicos.csv", low_memory=False)
secop_II_ContratosE.shape

(11683, 54)

In [4]:
secop_II_ContratosE['Ent_distrito'] = ['BOGOTA' if  x == 'SECRETARIA DISTRITAL DE INTEGRACION SOCIAL' or x == 'SUBRED INTEGRADA DE SERVICIOS DE SALUD NORTE E.S.E..' or x == 'SUBRED INTEGRADA DE SERVICIOS DE SALUD CENTRO ORIENTE E.S.E' or x == 'INSTITUTO DISTRITAL DE LAS ARTES' or x == 'SECRETARIA DE EDUCACION DEL DISTRITO'  or x == 'SUBRED INTEGRADA DE SERVICIOS DE SALUD SUR E.S.E' or x == 'EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOTÁ - E.S.P.'  or x == 'SECRETARIA DISTRITAL DE MOVILIDAD' or x == 'EMPRESA DE TRANSPORTE DEL TERCER MILENIO TRANSMILENIO S. A.' or x == 'UNIDAD ADMINISTRATIVA ESPECIAL CUERPO OFICIAL DE BOMBEROS DE BOGOTA' or x == 'SUBRED INTEGRADA DE SERVICIOS DE SALUD SUR OCCIDENTE ESE.'  or x == 'PERSONERIA DE BOGOTA' or x == 'INSTITUTO DISTRITAL PARA LA PROTECCIÓN DE LA NIÑEZ Y LA JUVENTUD'  or x == 'SECRETARIA DISTRITAL DE GOBIERNO' or x == 'SECRETARIA DISTRITAL DE AMBIENTE'  or x == 'ALCALDIA LOCAL DE SUBA' or x == 'ENTIDAD ASESORA DE GESTION ADMINISTRATIVA Y TECNICA' or x == 'FONDO FINANCIERO DISTRITAL DE SALUD'  or x == 'SECRETARIA DISTRITAL DEL HABITAT' or x == 'INSTITUTO DE DESARROLLO URBANO' or x == 'JARDÍN BOTÁNICO JOSÉ CELESTINO MUTIS'  or x == 'INSTITUTO DISTRITAL DE RECREACIÓN Y DEPORTE' or x == 'SECRETARÍA GENERAL DE LA ALCALDÍA MAYOR DE BOGOTÁ'
                             or x == 'INSTITUTO DISTRITAL DE LA PARTICIPACIÓN Y ACCIÓN COMUNAL' or x == 'SECRETARIA DISTRITAL DE PLANEACION' or x == 'CAJA DE LA VIVIENDA POPULAR' or x == 'UNIDAD ADMINISTRATIVA ESPECIAL DE REHABILITACIÓN Y MANTENIMIENTO VIAL' or x == 'SECRETARIA DISTRITAL DE LA MUJER' or x == 'INSTITUTO DISTRITAL DE PATRIMONIO CULTURAL' or x == 'ALCALDIA LOCAL DE KENNEDY' or x == 'ALCALDIA LOCAL DE SAN CRISTOBAL' or x == 'ALCALDIA LOCAL DE CIUDAD BOLIVAR' or x == 'CONTRALORIA DE BOGOTA' or x == 'ALCALDÍA LOCAL DE ENGATIVÁ'  or x == 'UNIDAD ADMINISTRATIVA ESPECIAL DE SERVICIOS PÚBLICOS' or x == 'ORQUESTA FILARMONICA DE BOGOTA' or x == 'INSTITUTO DISTRITAL DE GESTION DE RIESGOS Y CAMBIO CLIMATICO' or x == 'ALCALDIA LOCAL DE USME' or x == 'ALCALDIA LOCAL DE BOSA' or x == 'SECRETARÍA DISTRITAL DE CULTURA, RECREACIÓN Y DEPORTE' or x == 'EMPRESA DE RENOVACION Y DESARROLLO URBANO DE BOGOTA D.C' or x == 'DEPARTAMENTO ADMINISTRATIVO DE LA DEFENSORIA DEL ESPACIO PUBLICO' or x == 'UNIDAD ADMINISTRATIVA ESPECIAL DE CATASTRO DISTRITAL' or x == 'ALCALDIA LOCAL DE USAQUEN' or x == 'SECRETARIA DISTRITAL DE DESARROLLO ECONOMICO' or x == 'ALCALDIA LOCAL RAFAEL URIBE URIBE'  or x == 'FONDO DE VIGILANCIA Y SEGURIDAD DE BOGOTÁ D.C EN LIQUIDACIÓN'
                             or x == 'ALCALDIA LOCAL DE FONTIBON' or x == 'ALCALDIA LOCAL DE PUENTE ARANDA-FONDO DE DESARROLLO LOCAL'  or x == 'ALCALDIA LOCAL DE MARTIRES' or x == 'SECRETARIA DISTRITAL DE HACIENDA'  or x == 'ALCALDIA LOCAL DE TUNJUELITO' or x == 'FONDO DE PRESTACIONES ECONOMICAS CESANTIAS Y PENSIONES' or x == 'ALCALDIA LOCAL DE TEUSAQUILLO (oficial)' or x == 'ALCALDIA LOCAL DE SUMAPAZ' or x == 'ALCALDIA LOCAL DE SANTAFE- FONDO DE DESARROLLO LOCAL DE SANTA FE' or x == 'ALCALDÍA LOCAL DE CHAPINERO - FONDO DE DESARROLLO LOCAL' or x == 'ALCALDÍA LOCAL DE BARRIOS UNIDOS' or x == 'ALCALDIA LOCAL DE ANTONIO NARIÑO' or x == 'METRO DE BOGOTA SA' or x == 'FUNDACION GILBERTO ALZATE AVENDAÑO' or x == 'SECRETARIA JURIDICA DISTRITAL' or x == 'TERMINAL DE TRANSPORTE S.A' or x == 'INSTITUTO DISTRITAL DE PROTECCION Y BIENESTAR ANIMAL' or x == 'SECRETARIA DE PLANEACION' or x == 'VEEDURIA DISTRITAL' or x == 'FONDO DE DESARROLLO LOCAL DE LA CANDELARIA' or x == 'INSTITUTO PARA LA INVESTIGACIÓN EDUCATIVA Y EL DESARROLLO PEDAGÓGICO - IDEP'  or x == 'LOTERIA DE BOGOTA' or x == 'INSTITUTO DISTRITAL DE TURISMO' or x == 'DEPARTAMENTO ADMINISTRATIVO DEL SERVICIO CIVIL DISTRITAL' or x == 'SECRETARIA DISTRITAL DE SALUD' or x == 'SECRETARÍA DISTRITAL DE CULTURA  RECREACIÓN Y DEPORTE'
                             or x == 'SECRETARÍA DISTRITAL DE MOVILIDAD'      
                                                                                                     
                                     else 'OTROS' for x in secop_II_ContratosE['Nombre Entidad']]

secop_II_ContratosE['Ent_distrito'].value_counts()

BOGOTA    10140
OTROS      1543
Name: Ent_distrito, dtype: int64

In [5]:
# Bogotá
secop_II_ContratosE = secop_II_ContratosE[secop_II_ContratosE['Ent_distrito'] != 'OTROS']
secop_II_ContratosE['Ent_distrito'].value_counts()

BOGOTA    10140
Name: Ent_distrito, dtype: int64

In [6]:
drop_vars_Contratos = ['Departamento', 'Ciudad', 'Localización', 'Orden', 'Referencia del Contrato', 'TipoDocProveedor',
                      'Código BPIN', 'Anno BPIN', 'EsPostConflicto', 'Puntos del Acuerdo', 'Pilares del Acuerdo', 'Ent_distrito']

secop_II_ContratosE.drop(drop_vars_Contratos, inplace=True, axis=1)

secop_II_ContratosE['ID Contrato'].is_unique

True

In [7]:
secop_II_ContratosE.columns

Index(['Nombre Entidad', 'Nit Entidad', 'Sector', 'Rama',
       'Entidad Centralizada', 'Proceso de Compra', 'ID Contrato',
       'Estado Contrato', 'Codigo de Categoria Principal',
       'Descripcion del Proceso', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Justificacion Modalidad de Contratacion',
       'Fecha de Firma', 'Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion', 'Condiciones de Entrega',
       'Documento Proveedor', 'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidación', 'Obligación Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Valor de pago adelantado', 'Valor Facturado',
       'Valor Pendiente de Pago', 'Valor Pagado', 'Valor Amortizado',
       'Valor Pendiente de Amortizacion', 'Valor Pendiente de Ejecucion',
       'Estado BPIN', 'Saldo CDP', 'Saldo Vigencia', 'URLProceso',
       'Destino Gasto', 'Origen de los Recursos', 'Dias Adicionados'],
      dtype='object')

---

## SECOP II Adiciones

In [8]:
secop_II_Adiciones = pd.read_csv("SECOP_II_Adiciones.csv", low_memory=False)
secop_II_Adiciones.shape

(698750, 5)

In [9]:
secop_II_Adiciones.columns

Index(['Identificador', 'ID_Contrato', 'Tipo', 'Descripcion', 'FechaRegistro'], dtype='object')

In [10]:
drop_vars_Adiciones = ['Identificador', 'Descripcion','FechaRegistro']
secop_II_Adiciones.drop(drop_vars_Adiciones, inplace=True, axis=1)

secop_II_Adiciones.sort_values(by='ID_Contrato', ascending=True)

               ID_Contrato                  Tipo
219039   CO1.PCCNTR.100002                Cesión
28349    CO1.PCCNTR.100004           Terminación
558820   CO1.PCCNTR.100004           No definido
457884  CO1.PCCNTR.1000507           Terminación
359599  CO1.PCCNTR.1000507   Adición en el valor
...                    ...                   ...
300713   CO1.PCCNTR.999809           No definido
215134   CO1.PCCNTR.999901  Modificación General
261032   CO1.PCCNTR.999901  Modificación General
184787   CO1.PCCNTR.999901   Adición en el valor
184791   CO1.PCCNTR.999901  Modificación General

[698750 rows x 2 columns]

In [11]:
todummy_list = ['Tipo'] 

# Function to dummy all the categorical variables used for modeling
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df


X_ext = dummy_df(secop_II_Adiciones, todummy_list)
print(X_ext.head(5))

         ID_Contrato  Tipo_Adición en el valor  Tipo_Cesión  Tipo_Conclusión  \
0    CO1.PCCNTR.1801                         0            0                0
1   CO1.PCCNTR.13101                         0            0                0
2   CO1.PCCNTR.13904                         0            0                0
3  CO1.PCCNTR.114503                         0            0                1
4  CO1.PCCNTR.263229                         0            0                0

   Tipo_Expiración  Tipo_Extensión  Tipo_Modificación General  \
0                0               0                          1
1                0               0                          1
2                0               0                          1
3                0               0                          0
4                0               0                          0

   Tipo_No definido  Tipo_Reactivación  Tipo_Reducción en el valor  \
0                 0                  0                           0
1                 0                  0                           0
2                 0                  0                           0
3                 0                  0                           0
4                 0                  1                           0

   Tipo_Suspensión  Tipo_Terminación
0                0                 0
1                0                 0
2                0                 0
3                0                 0
4                0                 0

In [12]:
Ad_ext = X_ext.groupby('ID_Contrato', as_index=False).agg(np.sum)
Ad_ext.sort_values(by='ID_Contrato', ascending=True)

,ID_Contrato,Tipo_Adición en el valor,Tipo_Cesión,Tipo_Conclusión,Tipo_Expiración,Tipo_Extensión,Tipo_Modificación General,Tipo_No definido,Tipo_Reactivación,Tipo_Reducción en el valor,Tipo_Suspensión,Tipo_Terminación
0,CO1.PCCNTR.100002,0,1,0,0,0,0,0,0,0,0,0
1,CO1.PCCNTR.100004,0,0,0,0,0,0,1,0,0,0,1
2,CO1.PCCNTR.1000507,1,0,0,0,0,0,0,0,0,0,1
3,CO1.PCCNTR.1000605,0,0,0,0,0,1,0,0,0,0,0
4,CO1.PCCNTR.1000801,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
291066,CO1.PCCNTR.999806,0,0,0,0,0,0,0,0,0,0,1
291067,CO1.PCCNTR.999807,0,0,1,0,0,0,0,0,0,0,0
291068,CO1.PCCNTR.999808,0,0,0,0,0,2,0,0,0,0,0
291069,CO1.PCCNTR.999809,0,0,0,0,0,0,1,0,0,0,0
291070,CO1.PCCNTR.999901,1,0,0,0,0,3,0,0,0,0,0

In [13]:
Ad_ext['ID_Contrato'].is_unique

True

---

#  **SECOP II Completo**

In [14]:
secop_completo = pd.merge(secop_II_ContratosE, Ad_ext, left_on="ID Contrato", right_on= "ID_Contrato", how='left', validate="one_to_one")
print('Dimensiones base contratación electrónica en secop: {}'.format(secop_II_ContratosE.shape))
print('Dimensiones base adiciones en secop: {}'.format(secop_II_Adiciones.shape))
print('Dimensiones base final en secop: {}'.format(secop_completo.shape))
print('Hay {} valores perdidos en la columna ID Contrato'.format(secop_II_ContratosE['ID Contrato'].isnull().sum()))

Dimensiones base contratación electrónica en secop: (10140, 43)
Dimensiones base adiciones en secop: (698750, 2)
Dimensiones base final en secop: (10140, 55)
Hay 0 valores perdidos en la columna ID Contrato

In [15]:
secop_completo.columns

Index(['Nombre Entidad', 'Nit Entidad', 'Sector', 'Rama',
       'Entidad Centralizada', 'Proceso de Compra', 'ID Contrato',
       'Estado Contrato', 'Codigo de Categoria Principal',
       'Descripcion del Proceso', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Justificacion Modalidad de Contratacion',
       'Fecha de Firma', 'Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion', 'Condiciones de Entrega',
       'Documento Proveedor', 'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidación', 'Obligación Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Valor de pago adelantado', 'Valor Facturado',
       'Valor Pendiente de Pago', 'Valor Pagado', 'Valor Amortizado',
       'Valor Pendiente de Amortizacion', 'Valor Pendiente de Ejecucion',
       'Estado BPIN', 'Saldo CDP', 'Saldo Vigencia', 'URLProceso',
       'Destino Gasto', 'Origen de los Recursos', 'Dias Adicionados',
       'ID_Contrato', 'Tipo_Adición en el valor', 'Tipo_Cesión',
       'Tipo_Conclusión', 'Tipo_Expiración', 'Tipo_Extensión',
       'Tipo_Modificación General', 'Tipo_No definido', 'Tipo_Reactivación',
       'Tipo_Reducción en el valor', 'Tipo_Suspensión', 'Tipo_Terminación'],
      dtype='object')

In [16]:
IDContrato = ['ID Contrato', 'ID_Contrato']
secop_completo[IDContrato].sort_values(by='ID Contrato', ascending=True)

             ID Contrato         ID_Contrato
460     CO1.PCCNTR.10001                 NaN
5589  CO1.PCCNTR.1000918  CO1.PCCNTR.1000918
3590  CO1.PCCNTR.1001031  CO1.PCCNTR.1001031
7400  CO1.PCCNTR.1001039                 NaN
8415  CO1.PCCNTR.1001047  CO1.PCCNTR.1001047
...                  ...                 ...
3021   CO1.PCCNTR.999338   CO1.PCCNTR.999338
7871   CO1.PCCNTR.999405   CO1.PCCNTR.999405
3609   CO1.PCCNTR.999421                 NaN
9572   CO1.PCCNTR.999529   CO1.PCCNTR.999529
7443   CO1.PCCNTR.999616   CO1.PCCNTR.999616

[10140 rows x 2 columns]

---

## SECOP II Proveedores con contratos

In [17]:
secop_II_Proveedores = pd.read_csv("SECOP_II_Proveedores_Registrados.csv", low_memory=False)
secop_II_Proveedores.shape

(560630, 11)

In [18]:
secop_II_Proveedores.columns

Index(['Nombre', 'NIT', 'Tipo Empresa', 'EsPyme', 'Ubicación',
       'Fecha Creación', 'Pais', 'Departamento', 'Municipio',
       'Codigo Categoria Principal', 'Descripcion Categoria Principal'],
      dtype='object')

In [19]:
sin_nit = ['0000000000','000000000','00000000','0000000', '000000', '00000', '0000','000','00', '0', '1','001','1111111','11111111','0000008', 'no aplica','NO APLICA','No Definido', '900000000', '999999999','9000000000']
secop_II_Proveedores['NIT'] = secop_II_Proveedores['NIT'].replace(sin_nit, 0)
secop_II_Proveedores = secop_II_Proveedores[secop_II_Proveedores['NIT'] != 0]
secop_II_Proveedores['NIT'].value_counts()

80833443      21
1047403743    19
44148158      18
8083344       10
88141364      10
              ..
1014198241     1
901078463      1
1075273656     1
1014251925     1
32939002       1
Name: NIT, Length: 491451, dtype: int64

In [20]:
secop_II = pd.merge(secop_completo, secop_II_Proveedores, left_on="Documento Proveedor", right_on="NIT", how='left')
print('Dimensiones base contratación completa en secop: {}'.format(secop_completo.shape))
print('Dimensiones base proveedores en secop: {}'.format(secop_II_Proveedores.shape))
print('Dimensiones base final en secop: {}'.format(secop_II.shape))
print('Hay {} valores perdidos en la columna ID Contrato'.format(secop_II['ID Contrato'].isnull().sum()))

Dimensiones base contratación completa en secop: (10140, 55)
Dimensiones base proveedores en secop: (492712, 11)
Dimensiones base final en secop: (10283, 66)
Hay 0 valores perdidos en la columna ID Contrato

In [21]:
secop_II = secop_II.drop_duplicates(subset=['ID Contrato'], keep='first')
secop_II.shape

(10140, 66)

---

#### Feature engeneering

In [22]:
secop_II.columns

Index(['Nombre Entidad', 'Nit Entidad', 'Sector', 'Rama',
       'Entidad Centralizada', 'Proceso de Compra', 'ID Contrato',
       'Estado Contrato', 'Codigo de Categoria Principal',
       'Descripcion del Proceso', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Justificacion Modalidad de Contratacion',
       'Fecha de Firma', 'Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion', 'Condiciones de Entrega',
       'Documento Proveedor', 'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidación', 'Obligación Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Valor de pago adelantado', 'Valor Facturado',
       'Valor Pendiente de Pago', 'Valor Pagado', 'Valor Amortizado',
       'Valor Pendiente de Amortizacion', 'Valor Pendiente de Ejecucion',
       'Estado BPIN', 'Saldo CDP', 'Saldo Vigencia', 'URLProceso',
       'Destino Gasto', 'Origen de los Recursos', 'Dias Adicionados',
       'ID_Contrato', 'Tipo_Adición en el valor', 'Tipo_Cesión',
       'Tipo_Conclusión', 'Tipo_Expiración', 'Tipo_Extensión',
       'Tipo_Modificación General', 'Tipo_No definido', 'Tipo_Reactivación',
       'Tipo_Reducción en el valor', 'Tipo_Suspensión', 'Tipo_Terminación',
       'Nombre', 'NIT', 'Tipo Empresa', 'EsPyme', 'Ubicación',
       'Fecha Creación', 'Pais', 'Departamento', 'Municipio',
       'Codigo Categoria Principal', 'Descripcion Categoria Principal'],
      dtype='object')

In [23]:
### Select columns

drop_vars = ['Nit Entidad', 'Proceso de Compra', 'Descripcion del Proceso', 'Justificacion Modalidad de Contratacion', 'Documento Proveedor',
            'Estado BPIN', 'Saldo CDP', 'Saldo Vigencia', 'URLProceso','Descripcion Categoria Principal', 'Ubicación', 'ID Contrato', 
            'Tipo_Expiración', 'Tipo_Reducción en el valor', 'ID_Contrato']

secop_II.drop(drop_vars, inplace=True, axis=1)

In [24]:
pd.Series({c: secop_II[c].unique() for c in secop_II})

Nombre Entidad                     [SUBRED INTEGRADA DE SERVICIOS DE SALUD SUR E....
Sector                             [Salud y Protección Social, Cultura, Servicio ...
Rama                                               [Ejecutivo, Corporación Autónoma]
Entidad Centralizada                    [Descentralizada, Centralizada, No Definido]
Estado Contrato                    [Modificado, Activo, Borrador, terminado, Canc...
Codigo de Categoria Principal      [V1.80111701, V1.80161507, V1.55121700, V1.121...
Tipo de Contrato                   [DecreeLaw092/2017, Otro, Suministros, Comprav...
Modalidad de Contratacion          [Contratación régimen especial, Contratación d...
Fecha de Firma                     [08/14/2019, 10/11/2018, nan, 11/21/2018, 10/0...
Fecha de Inicio del Contrato       [08/13/2019, 10/22/2018, nan, 11/20/2018, 10/0...
Fecha de Fin del Contrato          [09/30/2019, 10/22/2018, nan, 06/20/2019, 01/0...
Fecha de Inicio de Ejecucion       [08/13/2019, 10/22/2018, nan, 11/20/2018, 10/0...
Fecha de Fin de Ejecucion          [01/31/2020, 10/22/2018, nan, 06/19/2019, 01/0...
Condiciones de Entrega             [A convenir, No Definido, Como acordado previa...
Proveedor Adjudicado               [carlos mario martinez alvarez, CEETTV S-A., A...
Es Grupo                                                                    [No, Si]
Es Pyme                                                                     [Si, No]
Habilita Pago Adelantado                                       [No, No Definido, Si]
Liquidación                                                                 [No, Si]
Obligación Ambiental                                                        [No, Si]
Obligaciones Postconsumo                                                    [No, Si]
Reversion                                                                   [No, Si]
Valor del Contrato                 [9,528,960, 0, 160,000,000, 2,289,312,500, 5,2...
Valor de pago adelantado           [0, 490,800,000, 513,069,565, 469,470,851, 911...
Valor Facturado                    [0, 5,209,133, 917,847, 25,000,000, 18,590,000...
Valor Pendiente de Pago            [9,528,960, 0, 160,000,000, 2,289,312,500, 271...
Valor Pagado                       [0, 5,209,133, 917,847, 25,000,000, 18,590,000...
Valor Amortizado                   [0, 1,090,714,110, 11,542,371, 419,540,991, 54...
Valor Pendiente de Amortizacion    [0, 490,800,000, 513,069,565, 469,470,851, 911...
Valor Pendiente de Ejecucion       [9,528,960, 0, 160,000,000, 2,289,312,500, 271...
Destino Gasto                               [Funcionamiento, No Definido, Inversión]
Origen de los Recursos             [Recursos propios, No Especificado, Regalías, ...
Dias Adicionados                   [0, 16, 34, 123, 101, 17, 92, 61, 360, 168, 5,...
Tipo_Adición en el valor              [0.0, nan, 1.0, 3.0, 2.0, 4.0, 5.0, 10.0, 6.0]
Tipo_Cesión                                                     [0.0, nan, 1.0, 2.0]
Tipo_Conclusión                                            [0.0, nan, 1.0, 2.0, 3.0]
Tipo_Extensión                                                       [0.0, nan, 1.0]
Tipo_Modificación General          [12.0, nan, 0.0, 1.0, 6.0, 10.0, 7.0, 2.0, 8.0...
Tipo_No definido                                      [1.0, nan, 0.0, 2.0, 3.0, 4.0]
Tipo_Reactivación                  [0.0, nan, 1.0, 4.0, 10.0, 2.0, 3.0, 6.0, 5.0,...
Tipo_Suspensión                    [0.0, nan, 1.0, 5.0, 7.0, 3.0, 2.0, 11.0, 6.0,...
Tipo_Terminación                                      [0.0, nan, 2.0, 1.0, 3.0, 5.0]
Nombre                             [carlos mario martinez alvarez, CEETTV S-A., A...
NIT                                [1100685632, 900163045, 800145548, 8600722796,...
Tipo Empresa                       [Persona Natural colombiana, Sociedad Anónima ...
EsPyme                                                                 [Si, No, nan]
Fecha Creación                     [07/31/2019, 05/04/2018, 04/21/2015, 09/15/201...
Pais                                                    [No Definido, Colombia, nan]
Departamento                       [No Definido, Tolima, Distrito Capital de Bogo...
Municipio                          [No Definido, Melgar, Bogotá, nan, Envigado, A...
Codigo Categoria Principal         [ND, nan, V1.82150000, V1.83110000, V1.2210000...
dtype: object

In [25]:
secop_II['Estado Contrato'].value_counts()

Activo               3787
Modificado           3149
terminado             689
Borrador              682
enviado Proveedor     662
En ejecución          570
Cancelado             264
En aprobación         161
Cerrado                95
Suspendido             75
cedido                  5
Prorrogado              1
Name: Estado Contrato, dtype: int64

In [26]:
secop_II = secop_II[secop_II['Estado Contrato'] != 'Borrador']
secop_II = secop_II[secop_II['Estado Contrato'] != 'En aprobación']
secop_II = secop_II[secop_II['Estado Contrato'] != 'enviado Proveedor']

In [27]:
ubicacion = ['Pais', 'Departamento', 'Municipio', 'Codigo Categoria Principal']

In [28]:
secop_II[ubicacion]

,Pais,Departamento,Municipio,Codigo Categoria Principal
0,No Definido,No Definido,No Definido,ND
1,No Definido,No Definido,No Definido,ND
3,Colombia,Distrito Capital de Bogotá,Bogotá,ND
4,Colombia,Cauca,No Definido,ND
5,Colombia,Valle del Cauca,No Definido,ND
...,...,...,...,...
10276,Colombia,No Definido,No Definido,ND
10278,Colombia,Distrito Capital de Bogotá,Bogotá,ND
10280,No Definido,No Definido,No Definido,ND
10281,Colombia,Distrito Capital de Bogotá,Bogotá,ND
10282,Colombia,Distrito Capital de Bogotá,Bogotá,ND

In [29]:
secop_II[ubicacion] = secop_II[ubicacion].fillna('No Definido')
secop_II['Codigo Categoria Principal'] = secop_II['Codigo Categoria Principal'].replace(to_replace ='ND', value = 'No Definido', regex = True)

In [30]:
secop_II = secop_II.fillna(0)

In [31]:
secop_II.dtypes

Nombre Entidad                      object
Sector                              object
Rama                                object
Entidad Centralizada                object
Estado Contrato                     object
Codigo de Categoria Principal       object
Tipo de Contrato                    object
Modalidad de Contratacion           object
Fecha de Firma                      object
Fecha de Inicio del Contrato        object
Fecha de Fin del Contrato           object
Fecha de Inicio de Ejecucion        object
Fecha de Fin de Ejecucion           object
Condiciones de Entrega              object
Proveedor Adjudicado                object
Es Grupo                            object
Es Pyme                             object
Habilita Pago Adelantado            object
Liquidación                         object
Obligación Ambiental                object
Obligaciones Postconsumo            object
Reversion                           object
Valor del Contrato                  object
Valor de pago adelantado            object
Valor Facturado                     object
Valor Pendiente de Pago             object
Valor Pagado                        object
Valor Amortizado                    object
Valor Pendiente de Amortizacion     object
Valor Pendiente de Ejecucion        object
Destino Gasto                       object
Origen de los Recursos              object
Dias Adicionados                     int64
Tipo_Adición en el valor           float64
Tipo_Cesión                        float64
Tipo_Conclusión                    float64
Tipo_Extensión                     float64
Tipo_Modificación General          float64
Tipo_No definido                   float64
Tipo_Reactivación                  float64
Tipo_Suspensión                    float64
Tipo_Terminación                   float64
Nombre                              object
NIT                                 object
Tipo Empresa                        object
EsPyme                              object
Fecha Creación                      object
Pais                                object
Departamento                        object
Municipio                           object
Codigo Categoria Principal          object
dtype: object

- Fechas

In [32]:
Fechas = ['Fecha de Firma', 'Fecha de Inicio del Contrato', 'Fecha de Fin del Contrato', 
          'Fecha de Inicio de Ejecucion', 'Fecha de Fin de Ejecucion']

for i in Fechas:
    secop_II[i] = pd.to_datetime(secop_II[i])
    
for i in Fechas:
    secop_II.loc[secop_II[i] == '1970-01-01', Fechas] = pd.NaT
    
secop_II[Fechas].head()

,Fecha de Firma,Fecha de Inicio del Contrato,Fecha de Fin del Contrato,Fecha de Inicio de Ejecucion,Fecha de Fin de Ejecucion
0,2019-08-14,2019-08-13,2019-09-30,2019-08-13,2020-01-31
1,2018-10-11,2018-10-22,2018-10-22,2018-10-22,2018-10-22
3,2018-11-21,2018-11-20,2019-06-20,2018-11-20,2019-06-19
4,2019-10-02,2019-10-01,2020-01-02,2019-10-02,2020-01-01
5,2017-11-28,2017-11-29,2017-12-29,2017-11-30,2017-12-28

In [33]:
#Firma = ['Año de firma','Mes de firma']
secop_II['Año de firma'] = secop_II['Fecha de Firma'].apply(lambda x: x.year)
#secop_II['Mes de firma'] = secop_II['Fecha de Firma'].apply(lambda x: x.month)
#secop_II[Firma].head()

In [34]:
secop_II['Año de firma'].value_counts()

2018.0    3069
2019.0    2827
2020.0     747
2017.0     240
2016.0       3
Name: Año de firma, dtype: int64

In [35]:
# Duración del contrato
secop_II['Plazo Contrato'] = secop_II['Fecha de Fin del Contrato'] - secop_II['Fecha de Inicio del Contrato']
# Duración ejecución
secop_II['Plazo Ejecucion'] = secop_II['Fecha de Fin de Ejecucion'] - secop_II['Fecha de Inicio de Ejecucion']
# Diferencia entre firma e inicio de ejecución
secop_II['Tiempo Demora'] = secop_II['Fecha de Fin del Contrato'] - secop_II['Fecha de Inicio del Contrato']

Ejecucion = ['Plazo Contrato', 'Plazo Ejecucion', 'Dias Adicionados']

secop_II[Ejecucion]

      Plazo Contrato Plazo Ejecucion  Dias Adicionados
0            48 days        171 days                 0
1             0 days          0 days                 0
3           212 days        211 days                 0
4            93 days         91 days                 0
5            30 days         28 days                 0
...              ...             ...               ...
10276       100 days        100 days                 0
10278       132 days        132 days                 0
10280            NaT             NaT                 0
10281            NaT             NaT                 0
10282       248 days        243 days                 4

[8635 rows x 3 columns]

- Valores

In [36]:
Valores = ['Valor del Contrato', 'Valor de pago adelantado','Valor Facturado', 'Valor Pendiente de Pago',
           'Valor Pagado', 'Valor Amortizado', 'Valor Pendiente de Amortizacion', 'Valor Pendiente de Ejecucion']

In [37]:
for i in Valores:
    secop_II[i] = pd.to_numeric(secop_II[i].apply(lambda x: str(x.replace(',',''))), errors='coerce')

In [38]:
secop_II[Valores].head()

,Valor del Contrato,Valor de pago adelantado,Valor Facturado,Valor Pendiente de Pago,Valor Pagado,Valor Amortizado,Valor Pendiente de Amortizacion,Valor Pendiente de Ejecucion
0,9528960,0,0,9528960,0,0,0,9528960
1,0,0,0,0,0,0,0,0
3,2289312500,0,0,2289312500,0,0,0,2289312500
4,5209133,0,5209133,0,5209133,0,0,0
5,917847,0,917847,0,917847,0,0,0

In [39]:
secop_II['Valor del Contrato'].sum()

4441771539460910

In [40]:
Pagos = ['V_Pendiente de ejecucion', 'V_Pendiente de amortizacion', 'V_Amortizado', 'V_Pagado',
         'V_Pendiente de pago', 'V_Facturado', 'V_Adelantado']

secop_II['V_Pendiente de ejecucion'] = secop_II['Valor Pendiente de Ejecucion'] / secop_II['Valor del Contrato']
secop_II['V_Pendiente de amortizacion'] = secop_II['Valor Pendiente de Amortizacion'] / secop_II['Valor del Contrato']
secop_II['V_Amortizado'] = secop_II['Valor Amortizado'] / secop_II['Valor del Contrato']
secop_II['V_Pagado'] = secop_II['Valor Pagado'] / secop_II['Valor del Contrato']
secop_II['V_Pendiente de pago'] = secop_II['Valor Pendiente de Pago'] / secop_II['Valor del Contrato']
secop_II['V_Facturado'] = secop_II['Valor Facturado'] / secop_II['Valor del Contrato']
secop_II['V_Adelantado'] = secop_II['Valor de pago adelantado'] / secop_II['Valor del Contrato']

secop_II[Pagos].head()

,V_Pendiente de ejecucion,V_Pendiente de amortizacion,V_Amortizado,V_Pagado,V_Pendiente de pago,V_Facturado,V_Adelantado
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [41]:
secop_II.columns

Index(['Nombre Entidad', 'Sector', 'Rama', 'Entidad Centralizada',
       'Estado Contrato', 'Codigo de Categoria Principal', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Fecha de Firma',
       'Fecha de Inicio del Contrato', 'Fecha de Fin del Contrato',
       'Fecha de Inicio de Ejecucion', 'Fecha de Fin de Ejecucion',
       'Condiciones de Entrega', 'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidación', 'Obligación Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Valor de pago adelantado', 'Valor Facturado',
       'Valor Pendiente de Pago', 'Valor Pagado', 'Valor Amortizado',
       'Valor Pendiente de Amortizacion', 'Valor Pendiente de Ejecucion',
       'Destino Gasto', 'Origen de los Recursos', 'Dias Adicionados',
       'Tipo_Adición en el valor', 'Tipo_Cesión', 'Tipo_Conclusión',
       'Tipo_Extensión', 'Tipo_Modificación General', 'Tipo_No definido',
       'Tipo_Reactivación', 'Tipo_Suspensión', 'Tipo_Terminación', 'Nombre',
       'NIT', 'Tipo Empresa', 'EsPyme', 'Fecha Creación', 'Pais',
       'Departamento', 'Municipio', 'Codigo Categoria Principal',
       'Año de firma', 'Plazo Contrato', 'Plazo Ejecucion', 'Tiempo Demora',
       'V_Pendiente de ejecucion', 'V_Pendiente de amortizacion',
       'V_Amortizado', 'V_Pagado', 'V_Pendiente de pago', 'V_Facturado',
       'V_Adelantado'],
      dtype='object')

In [42]:
drop_vars = ['Fecha de Firma','Valor de pago adelantado', 'Valor Facturado',
       'Valor Pendiente de Pago', 'Valor Pagado', 'Valor Amortizado',
       'Valor Pendiente de Amortizacion', 'Valor Pendiente de Ejecucion',
       'Estado Contrato','Nombre', 'Año de firma']

secop_II.drop(drop_vars, inplace=True, axis=1)
secop_II.dtypes

Nombre Entidad                            object
Sector                                    object
Rama                                      object
Entidad Centralizada                      object
Codigo de Categoria Principal             object
Tipo de Contrato                          object
Modalidad de Contratacion                 object
Fecha de Inicio del Contrato      datetime64[ns]
Fecha de Fin del Contrato         datetime64[ns]
Fecha de Inicio de Ejecucion      datetime64[ns]
Fecha de Fin de Ejecucion         datetime64[ns]
Condiciones de Entrega                    object
Proveedor Adjudicado                      object
Es Grupo                                  object
Es Pyme                                   object
Habilita Pago Adelantado                  object
Liquidación                               object
Obligación Ambiental                      object
Obligaciones Postconsumo                  object
Reversion                                 object
Valor del Contrato                         int64
Destino Gasto                             object
Origen de los Recursos                    object
Dias Adicionados                           int64
Tipo_Adición en el valor                 float64
Tipo_Cesión                              float64
Tipo_Conclusión                          float64
Tipo_Extensión                           float64
Tipo_Modificación General                float64
Tipo_No definido                         float64
Tipo_Reactivación                        float64
Tipo_Suspensión                          float64
Tipo_Terminación                         float64
NIT                                       object
Tipo Empresa                              object
EsPyme                                    object
Fecha Creación                            object
Pais                                      object
Departamento                              object
Municipio                                 object
Codigo Categoria Principal                object
Plazo Contrato                   timedelta64[ns]
Plazo Ejecucion                  timedelta64[ns]
Tiempo Demora                    timedelta64[ns]
V_Pendiente de ejecucion                 float64
V_Pendiente de amortizacion              float64
V_Amortizado                             float64
V_Pagado                                 float64
V_Pendiente de pago                      float64
V_Facturado                              float64
V_Adelantado                             float64
dtype: object

In [43]:
# Decide which categorical variables you want to use in model
for col_name in secop_II.columns:
    if secop_II[col_name].dtypes == 'object':
        unique_cat = len(secop_II[col_name].unique())
        print("La variable '{col_name}' tiene {unique_cat} categorías únicas".format(col_name=col_name, unique_cat=unique_cat))

La variable 'Nombre Entidad' tiene 47 categorías únicas
La variable 'Sector' tiene 12 categorías únicas
La variable 'Rama' tiene 2 categorías únicas
La variable 'Entidad Centralizada' tiene 3 categorías únicas
La variable 'Codigo de Categoria Principal' tiene 1129 categorías únicas
La variable 'Tipo de Contrato' tiene 19 categorías únicas
La variable 'Modalidad de Contratacion' tiene 12 categorías únicas
La variable 'Condiciones de Entrega' tiene 8 categorías únicas
La variable 'Proveedor Adjudicado' tiene 4086 categorías únicas
La variable 'Es Grupo' tiene 2 categorías únicas
La variable 'Es Pyme' tiene 2 categorías únicas
La variable 'Habilita Pago Adelantado' tiene 3 categorías únicas
La variable 'Liquidación' tiene 2 categorías únicas
La variable 'Obligación Ambiental' tiene 2 categorías únicas
La variable 'Obligaciones Postconsumo' tiene 2 categorías únicas
La variable 'Reversion' tiene 2 categorías únicas
La variable 'Destino Gasto' tiene 3 categorías únicas
La variable 'Origen de los Recursos' tiene 7 categorías únicas
La variable 'NIT' tiene 3551 categorías únicas
La variable 'Tipo Empresa' tiene 28 categorías únicas
La variable 'EsPyme' tiene 3 categorías únicas
La variable 'Fecha Creación' tiene 1204 categorías únicas
La variable 'Pais' tiene 2 categorías únicas
La variable 'Departamento' tiene 29 categorías únicas
La variable 'Municipio' tiene 65 categorías únicas
La variable 'Codigo Categoria Principal' tiene 70 categorías únicas

In [44]:
secop_II.columns

Index(['Nombre Entidad', 'Sector', 'Rama', 'Entidad Centralizada',
       'Codigo de Categoria Principal', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion', 'Condiciones de Entrega',
       'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidación', 'Obligación Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Destino Gasto', 'Origen de los Recursos', 'Dias Adicionados',
       'Tipo_Adición en el valor', 'Tipo_Cesión', 'Tipo_Conclusión',
       'Tipo_Extensión', 'Tipo_Modificación General', 'Tipo_No definido',
       'Tipo_Reactivación', 'Tipo_Suspensión', 'Tipo_Terminación', 'NIT',
       'Tipo Empresa', 'EsPyme', 'Fecha Creación', 'Pais', 'Departamento',
       'Municipio', 'Codigo Categoria Principal', 'Plazo Contrato',
       'Plazo Ejecucion', 'Tiempo Demora', 'V_Pendiente de ejecucion',
       'V_Pendiente de amortizacion', 'V_Amortizado', 'V_Pagado',
       'V_Pendiente de pago', 'V_Facturado', 'V_Adelantado'],
      dtype='object')

---

- Red flags

In [45]:
red_flags = secop_II.groupby(['Nombre Entidad']).nunique()
red_flags.head()

,Nombre Entidad,Sector,Rama,Entidad Centralizada,Codigo de Categoria Principal,Tipo de Contrato,Modalidad de Contratacion,Fecha de Inicio del Contrato,Fecha de Fin del Contrato,Fecha de Inicio de Ejecucion,...,Plazo Contrato,Plazo Ejecucion,Tiempo Demora,V_Pendiente de ejecucion,V_Pendiente de amortizacion,V_Amortizado,V_Pagado,V_Pendiente de pago,V_Facturado,V_Adelantado
Nombre Entidad,,,,,,,,,,,,,,,,,,,,,
ALCALDIA LOCAL DE ANTONIO NARIÑO,1,1,1,1,21,8,7,21,22,21,...,24,21,24,3,2,2,2,3,2,2
ALCALDIA LOCAL DE BOSA,1,1,1,1,41,9,8,58,59,58,...,58,48,58,8,4,2,6,7,29,4
ALCALDIA LOCAL DE CIUDAD BOLIVAR,1,1,1,1,41,9,8,46,72,47,...,52,45,52,3,5,2,2,3,2,5
ALCALDIA LOCAL DE FONTIBON,1,1,1,1,30,9,8,32,35,32,...,24,26,24,1,1,1,1,1,1,1
ALCALDIA LOCAL DE MARTIRES,1,1,1,1,34,9,7,37,45,38,...,36,36,36,4,2,2,2,4,2,2

In [46]:
red_flags['Tipo de Contrato'].head()

Nombre Entidad
ALCALDIA LOCAL DE ANTONIO NARIÑO    8
ALCALDIA LOCAL DE BOSA              9
ALCALDIA LOCAL DE CIUDAD BOLIVAR    9
ALCALDIA LOCAL DE FONTIBON          9
ALCALDIA LOCAL DE MARTIRES          9
Name: Tipo de Contrato, dtype: int64

In [47]:
drop_vars = ['Sector','Rama','Entidad Centralizada','Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion','Condiciones de Entrega','Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidación', 'Obligación Ambiental',
       'Obligaciones Postconsumo', 'Reversion','Valor del Contrato',
       'Destino Gasto', 'Origen de los Recursos', 'Dias Adicionados',
       'Tipo_Adición en el valor', 'Tipo_Cesión', 'Tipo_Conclusión',
       'Tipo_Extensión', 'Tipo_Modificación General', 'Tipo_No definido',
       'Tipo_Reactivación', 'Tipo_Suspensión', 'Tipo_Terminación',
       'NIT', 'Tipo Empresa', 'EsPyme', 'Fecha Creación', 'Pais',
       'Departamento', 'Municipio', 'Codigo Categoria Principal',
       'Plazo Contrato', 'Plazo Ejecucion',
       'Tiempo Demora', 'V_Pendiente de ejecucion',
       'V_Pendiente de amortizacion', 'V_Amortizado', 'V_Pagado',
       'V_Pendiente de pago', 'V_Facturado', 'V_Adelantado','Nombre Entidad', 'Tipo de Contrato', 'Modalidad de Contratacion']

red_flags.drop(drop_vars, inplace=True, axis=1)

red_flags.dtypes

Codigo de Categoria Principal    int64
Proveedor Adjudicado             int64
dtype: object

In [48]:
red_flags = red_flags.rename(columns={'Codigo de Categoria Principal': 'Categorias_Entidad', 'Tipo de Contrato': 'TiposContrato_Entidad', 
                   'Modalidad de Contratacion': 'Modalidades_Entidad','Proveedor Adjudicado': 'Proveedores_Entidad'})
red_flags.columns

Index(['Categorias_Entidad', 'Proveedores_Entidad'], dtype='object')

In [49]:
secop_II = pd.merge(secop_II, red_flags, left_on="Nombre Entidad", right_index=True, how='left')
print('Dimensiones base contratación completa en secop: {}'.format(secop_II.shape))
print('Dimensiones base proveedores en secop: {}'.format(red_flags.shape))
print('Dimensiones base final en secop: {}'.format(secop_II.shape))
print('Hay {} valores perdidos en la columna nombre entidad'.format(secop_II['Nombre Entidad'].isnull().sum()))

Dimensiones base contratación completa en secop: (8635, 53)
Dimensiones base proveedores en secop: (47, 2)
Dimensiones base final en secop: (8635, 53)
Hay 0 valores perdidos en la columna nombre entidad

---

- Outcome

In [50]:
secop_II['Dias Adicionados'].unique()

array([  0,  16,  34, 123, 101,  17,  92,  61, 360, 168,   5, 121, 160,
       125,  76, 108,  11,  51, 152,  91, 137,  77,  30,  66, 122,  31,
       203,  82,  41, 182, 208,  44,  84,  75,  69,  86, 128, 246, 300,
        60,   7,  15, 133,  65, 151, 107,  28,  14,  63,  93,  46, 161,
       153,  13, 145, 132,  19, 149,   9,  58,  73,  94,  56,  45, 177,
        74,  90, 207, 230, 172,  33,  79, 546,  10,   6, 165, 102, 188,
        21, 245,  62, 293,  72, 206,  43, 106, 264, 138,  64, 295, 223,
        70,   8,  49,  85, 224, 191, 186, 504,  53, 120,   3,  55,  47,
        36,  54, 167,  80, 184,  89, 166,  57,  29,  32,  25, 345, 113,
        59, 285, 181,   1,  40, 244,  42,  98,   4, 275, 363,  24, 185,
       221, 169, 556,  52, 229, 139,  27, 183, 148, 104, 331, 156, 155,
       134, 144, 114, 163,   2,  50, 228,  20, 112, 157, 213, 103,  67,
       287, 215, 190, 214, 205, 263, 175, 136,  83, 127, 253, 135,  18,
       150, 194, 210, 268, 124,  88, 201,  68, 235,  23, 180, 243, 147,
       239, 288, 199,  81, 154, 140,  22,  48, 248, 131, 209, 227, 196,
       187, 850,  71, 280, 276, 308,  35, 440,  12, 231, 211,  37, 273,
        99, 283,  39, 173, 314,  26, 274, 159, 218, 252,  96, 281, 105,
       249, 405, 365, 170, 309, 195, 193, 313,  38, 178, 272, 110, 162,
       696, 447, 192, 143, 126, 294, 436], dtype=int64)

In [51]:
secop_II['Tipo_Adición en el valor'].unique()

array([ 0.,  1.,  3.,  2.,  4.,  5., 10.,  6.])

In [52]:
outcome = ['Dias Adicionados', 'Tipo_Adición en el valor']
secop_II['Outcome'] = secop_II['Dias Adicionados'] + secop_II['Tipo_Adición en el valor'] 

drop_vars = ['Tipo_Adición en el valor','Dias Adicionados']
secop_II.drop(drop_vars, inplace=True, axis=1)

secop_II['Outcome'] = [1 if x > 0 else 0 for x in secop_II['Outcome']]
secop_II['Outcome'].value_counts()

0    6619
1    2016
Name: Outcome, dtype: int64

In [53]:
secop_II['Outcome'].unique()

array([0, 1], dtype=int64)

In [54]:
secop_II['Outcome'] = secop_II['Outcome'].fillna(0)

In [55]:
secop_II = secop_II.rename({'Liquidación': 'Liquidacion', 'Obligación Ambiental': 'Obligacion Ambiental','Fecha Creación':'Fecha Creacion'}, axis=1)

secop_II.columns

Index(['Nombre Entidad', 'Sector', 'Rama', 'Entidad Centralizada',
       'Codigo de Categoria Principal', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion', 'Condiciones de Entrega',
       'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidacion', 'Obligacion Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Destino Gasto', 'Origen de los Recursos', 'Tipo_Cesión',
       'Tipo_Conclusión', 'Tipo_Extensión', 'Tipo_Modificación General',
       'Tipo_No definido', 'Tipo_Reactivación', 'Tipo_Suspensión',
       'Tipo_Terminación', 'NIT', 'Tipo Empresa', 'EsPyme', 'Fecha Creacion',
       'Pais', 'Departamento', 'Municipio', 'Codigo Categoria Principal',
       'Plazo Contrato', 'Plazo Ejecucion', 'Tiempo Demora',
       'V_Pendiente de ejecucion', 'V_Pendiente de amortizacion',
       'V_Amortizado', 'V_Pagado', 'V_Pendiente de pago', 'V_Facturado',
       'V_Adelantado', 'Categorias_Entidad', 'Proveedores_Entidad', 'Outcome'],
      dtype='object')

In [56]:
#secop_II = secop_II.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
#secop_II = secop_II.rename(columns = lambda x:re.sub('[_]', '', x))

In [57]:
u = secop_II.select_dtypes(object)
secop_II[u.columns] = u.apply(
    lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [58]:
secop_II.columns

Index(['Nombre Entidad', 'Sector', 'Rama', 'Entidad Centralizada',
       'Codigo de Categoria Principal', 'Tipo de Contrato',
       'Modalidad de Contratacion', 'Fecha de Inicio del Contrato',
       'Fecha de Fin del Contrato', 'Fecha de Inicio de Ejecucion',
       'Fecha de Fin de Ejecucion', 'Condiciones de Entrega',
       'Proveedor Adjudicado', 'Es Grupo', 'Es Pyme',
       'Habilita Pago Adelantado', 'Liquidacion', 'Obligacion Ambiental',
       'Obligaciones Postconsumo', 'Reversion', 'Valor del Contrato',
       'Destino Gasto', 'Origen de los Recursos', 'Tipo_Cesión',
       'Tipo_Conclusión', 'Tipo_Extensión', 'Tipo_Modificación General',
       'Tipo_No definido', 'Tipo_Reactivación', 'Tipo_Suspensión',
       'Tipo_Terminación', 'NIT', 'Tipo Empresa', 'EsPyme', 'Fecha Creacion',
       'Pais', 'Departamento', 'Municipio', 'Codigo Categoria Principal',
       'Plazo Contrato', 'Plazo Ejecucion', 'Tiempo Demora',
       'V_Pendiente de ejecucion', 'V_Pendiente de amortizacion',
       'V_Amortizado', 'V_Pagado', 'V_Pendiente de pago', 'V_Facturado',
       'V_Adelantado', 'Categorias_Entidad', 'Proveedores_Entidad', 'Outcome'],
      dtype='object')

In [59]:
drop_vars = ['Tipo_Cesión', 'Tipo_Conclusión', 'Tipo_Extensión','Tipo_Modificación General',
       'Tipo_No definido', 'Tipo_Reactivación', 'Tipo_Suspensión',
       'Tipo_Terminación', 'Codigo Categoria Principal', 'EsPyme',]

secop_II.drop(drop_vars, inplace=True, axis=1)
secop_II.dtypes

Nombre Entidad                            object
Sector                                    object
Rama                                      object
Entidad Centralizada                      object
Codigo de Categoria Principal             object
Tipo de Contrato                          object
Modalidad de Contratacion                 object
Fecha de Inicio del Contrato      datetime64[ns]
Fecha de Fin del Contrato         datetime64[ns]
Fecha de Inicio de Ejecucion      datetime64[ns]
Fecha de Fin de Ejecucion         datetime64[ns]
Condiciones de Entrega                    object
Proveedor Adjudicado                      object
Es Grupo                                  object
Es Pyme                                   object
Habilita Pago Adelantado                  object
Liquidacion                               object
Obligacion Ambiental                      object
Obligaciones Postconsumo                  object
Reversion                                 object
Valor del Contrato                         int64
Destino Gasto                             object
Origen de los Recursos                    object
NIT                                       object
Tipo Empresa                              object
Fecha Creacion                            object
Pais                                      object
Departamento                              object
Municipio                                 object
Plazo Contrato                   timedelta64[ns]
Plazo Ejecucion                  timedelta64[ns]
Tiempo Demora                    timedelta64[ns]
V_Pendiente de ejecucion                 float64
V_Pendiente de amortizacion              float64
V_Amortizado                             float64
V_Pagado                                 float64
V_Pendiente de pago                      float64
V_Facturado                              float64
V_Adelantado                             float64
Categorias_Entidad                         int64
Proveedores_Entidad                        int64
Outcome                                    int64
dtype: object

In [60]:
secop_II.to_csv(r'SECOP_II.csv', index = False, encoding='utf-8')

---